.table-cstm tr td {
    padding: 0px !important;
    margin: 0px !important;
}

table tbody tr td {
    margin: 1px !important;
    padding: 1px !important;
    font-size: 8px !important;
}


.bold {
    font-weight: 800;
}

.bodr-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 9px;
}

.bodr-b1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 9px;
}

.bodr-bt {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.whole-page {
    border: 3px solid black;

}

.logo {
    margin-bottom: 20px;
}

.advance-invoice {
    border-top: 3px solid black;
}
.col-sm-12, .row {
    padding-left: 0;
    padding-right: 0;
}

@media print {

    .table-cstm tr td {
        padding: 0px !important;
        margin: 0px !important;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left !important;
    }

    .col-sm-12 {
        width: 100% !important;
    }

    .col-sm-11 {
        width: 91.66666667% !important;
    }

    .col-sm-10 {
        width: 83.33333333% !important;
    }

    .col-sm-9 {
        width: 75% !important;
    }

    .col-sm-8 {
        width: 66.66666667% !important;
    }

    .col-sm-7 {
        width: 58.33333333% !important;
    }

    .col-sm-6 {
        width: 50% !important;
    }

    .col-sm-5 {
        width: 41.66666667% !important;
    }

    .col-sm-4 {
        width: 33.33333333% !important;
    }

    .col-sm-3 {
        width: 25% !important;
    }

    .col-sm-2 {
        width: 16.66666667% !important;
    }

    .col-sm-1 {
        width: 8.33333333% !important;
    }

    .bodr-b {
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        font-size: 9px;
    }

    .bodr-b1 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        border-left: 1px solid rgba(0, 0, 0, 0.6);
        border-right: 1px solid rgba(0, 0, 0, 0.6);
        font-size: 9px;
    }

    .bodr-bt {

        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        border-left: 1px solid rgba(0, 0, 0, 0.6);
        border-right: 1px solid rgba(0, 0, 0, 0.6);
    }
}