{% set company = frappe.get_doc("Company",'Brightoak Infotech Pvt Ltd') %}
{% set letter_head = frappe.db.get_value("Letter Head",'Brightoak','image') %}

<body>
    <div class="invoice-container">
        <div class="letter-head header">
            <img src="{{ letter_head }}" alt="letter-head">
        </div>
        <table class="customer-info">
            <tr>
                <th colspan="2" class="header bill-header">BILL TO:</th>
                <th colspan="2" class="header ship-header">SHIP TO:</th>
            </tr>
            <tr>
                <td>Customer</td>
                <td>{{ doc.customer_name }}</td>
                <td>Customer</td>
                <td>{{ doc.customer_name }}</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>{{ doc.custom_mobile_number }}</td>
                <td>Mobile Number</td>
                <td>{{ doc.custom_mobile_number }}</td>
            </tr>
        </table>
        <table class="invoice-details">
            <tr>
                <td class="sales-invoice-detail">Invoice No:</td>
                <td class="sales-invoice-detail">{{ doc.name }}</td>
                <td class="sales-invoice-detail">Reference Name:</td>
                <td class="sales-invoice-detail">{{ doc.custom_current_employee_user_id_ }}</td>
            </tr>
            <tr>
                <td class="sales-invoice-detail">Invoice Date:</td>
                <td class="sales-invoice-detail">{{ doc.posting_date }}</td>
                <td class="sales-invoice-detail">Due Date:</td>
                <td class="sales-invoice-detail">{{ doc.due_date }}</td>
            </tr>
        </table>
        <table class="info-table">
            <thead>
                <tr>
                    <th style="text-align:center">S.No.</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">HSN No.</th>
                    <th style="text-align:center">Qty</th>
                    <th style="text-align:center">Rate</th>
                    <th style="text-align:center">Amount</th>
                </tr>
            </thead>
            <tbody>
                {%- for row in doc.items -%}
                <tr>
                    <td style="text-align:center">{{ row.idx }}</td>
                    <td style="text-align:left">{{ row.item_code }}</td>
                    <td style="text-align:center">{{ row.gst_hsn_code }}</td>
                    <td style="text-align:center">{{ row.qty }}</td>
                    <td style="text-align:center">{{ row.get_formatted("rate", doc) }}</td>
                    <td style="text-align:center">{{ row.get_formatted("amount", doc) }}</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
        <div class="footer-section">
            <table class="invoice-table">
                <tr class="header-row">
                    <td colspan="2" class="sales-invoice-detail">Make All Cheque Payable to</td>
                    <td colspan="2" class="sales-invoice-detail">TOTAL</td>
                    <td class="amount sales-invoice-detail" style="text-align:center">{{ doc.get_formatted("total",doc)
                        }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ company.name }}</td>
                    <td colspan="2">DISCOUNT</td>
                    {% if doc.discount_amount %}
                    <td class="amount" style="text-align:center">{{ doc.get_formatted("discount_amount", doc) }}</td>
                    {% else %}
                    <td class="amount" style="text-align:center">--</td>
                    {% endif %}
                </tr>
                <tr class="header-row">
                    <td colspan="2" class="sales-invoice-detail">Bank Account Details</td>
                    <td colspan="2" class="sales-invoice-detail">TAXABLE AMOUNT</td>
                    <td class="amount sales-invoice-detail" style="text-align:center">{{
                        doc.get_formatted("total_taxes_and_charges",doc) }}</td>
                </tr>
                <tr>
                    <td>A/C</td>
                    <td>000000000000000</td>
                    <td colspan="2" style="text-align:center">{{ doc.taxes[0].gst_tax_type | upper}} @ {{
                        doc.taxes[0].rate }}%</td>
                    <td class="amount" style="text-align:center">{{ doc.taxes[0].tax_amount }}</td>
                </tr>
                <tr>
                    <td>IFSC</td>
                    <td>BANK00000000</td>
                    {% if doc.taxes|length > 1 %}
                    <td colspan="2" style="text-align:center">{{ doc.taxes[1].gst_tax_type | upper }} @ {{
                        doc.taxes[1].rate }}% </td>
                    {%- endif %}
                    <td class="amount" style="text-align:center">{{ doc.taxes[1].tax_amount }}</td>
                </tr>
                <tr>
                    <td>CITY</td>
                    <td>BRANCH NAME</td>
                    <td colspan="2">PAYABLE AMOUNT</td>
                    <td class="amount" style="text-align:center">{{ doc.get_formatted("grand_total", doc) }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <strong>Amount in words:</strong> {{ doc.in_words }}
                    </td>
                </tr>
            </table>
            <footer>
                <div class="sign">
                    <p>__________________________________________</p>
                    <p>Authorized Signature</p>
                </div>
                <div>
                    <p>{{ company.custom_address }}</p>
                    <p>Mobile Number: {{ company.phone_no }}</p>
                    <p>Email: {{ company.email }}</p>
                    <p id="thank">THANK YOU! WE APPRECIATE YOUR BUSINESS</p>
                </div>
            </footer>
        </div>
    </div>
</body>