* {
    font-family: 'Poppins';
}
body{
-webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
  margin:2px !important;
}

/*Letter Head image*/
.letter-head{
    margin-bottom: 10px !important;
}
.header,#thank {
    background-color: #2f2db6  !important;
    color: white !important;
    font-weight: bold  !important;
}

.print-format td, .print-format th {
  padding: 5px !important;
}
.customer-info .bill-header, .customer-info .ship-header{
    font-weight: bold;
    color:white;
}
.sales-invoice-detail{
    color:white;
    background-color:#2f2db6;
    font-weight:bold;
}
.sign{
    text-align:right;
    font-weight:bold;
    margin-right:5px;
    border-bottom:2px solid black;
}
.invoice-container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
    width: 100%;
    height: auto;
}

.customer-info, .invoice-details, .info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.info-table th {
    background-color: #2f2db6;
    color: white;
}

.amount {
    text-align: right;
}

.note {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}
/*Footer Section*/
footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

.footer-section {
    border-top: 2px solid black;
}

.invoice-table{
    width:100% !important;
}